body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:505px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:505px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:244px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u8085 {
  position:absolute;
  left:9px;
  top:9px;
  width:105px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u8086 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8087 {
  position:absolute;
  left:9px;
  top:56px;
  width:57px;
  height:16px;
}
#u8088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8089 {
  position:absolute;
  left:76px;
  top:52px;
  width:117px;
  height:25px;
}
#u8089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8090 {
  position:absolute;
  left:221px;
  top:56px;
  width:57px;
  height:16px;
}
#u8091 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8092 {
  position:absolute;
  left:288px;
  top:51px;
  width:147px;
  height:25px;
}
#u8092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8093 {
  position:absolute;
  left:449px;
  top:444px;
  width:68px;
  height:30px;
}
#u8094 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8095 {
  position:absolute;
  left:549px;
  top:444px;
  width:68px;
  height:30px;
}
#u8096 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u8097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8097 {
  position:absolute;
  left:20px;
  top:135px;
  width:95px;
  height:25px;
}
#u8097_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8097.selected {
}
#u8098 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u8099 {
  position:absolute;
  left:25px;
  top:176px;
  width:605px;
  height:95px;
}
#u8100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8100 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8101 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8102 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8104 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8106 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8108 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u8109 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8110 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8112 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8114 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u8115 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8116 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u8117 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8118 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u8119 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8120 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u8121 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8122 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u8123 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8124 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u8125 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8126 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u8127 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8128 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u8129 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8130 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8132 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
}
#u8133 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8134 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
}
#u8135 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8136 {
  position:absolute;
  left:54px;
  top:214px;
  width:12px;
  height:12px;
}
#u8137 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8138 {
  position:absolute;
  left:84px;
  top:214px;
  width:12px;
  height:12px;
}
#u8139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8140 {
  position:absolute;
  left:205px;
  top:209px;
  width:18px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8141 {
  position:absolute;
  left:2px;
  top:5px;
  width:14px;
  word-wrap:break-word;
}
#u8142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8142 {
  position:absolute;
  left:205px;
  top:238px;
  width:18px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8143 {
  position:absolute;
  left:2px;
  top:5px;
  width:14px;
  word-wrap:break-word;
}
#u8144 {
  position:absolute;
  left:430px;
  top:209px;
  width:86px;
  height:25px;
}
#u8144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u8145 {
  position:absolute;
  left:9px;
  top:160px;
  width:955px;
  height:1px;
}
#u8146 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8147 {
  position:absolute;
  left:463px;
  top:56px;
  width:57px;
  height:16px;
}
#u8148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8149 {
  position:absolute;
  left:530px;
  top:51px;
  width:174px;
  height:25px;
}
#u8149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8150 {
  position:absolute;
  left:430px;
  top:238px;
  width:86px;
  height:25px;
}
#u8150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
